/*
clover green: #3cb043
neon green: #9bcc78
charcoal grey: #333333
smokey grey: #666666
*/


/* PAGE CUSTOMIZATIONS */

.ww-bgimg {
    background-image: url("images/wws1-background.png");
    min-height: 400px;
}

/* FORM CUSTOMIZATIONS */

.form {
    position: relative;
}

.form h5 {
    margin: 0px;
}

.form-step {
    grid-template-columns: repeat(2, minmax(240px, 1fr))
}

.form-input {
    min-height: 40px;
    display: grid;
    align-items: center;
    min-width: 120px;
}

.form-input input, .form-input select {
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 1rem;
    border: 2px solid #9bcc78;
    background-color: whitesmoke;
}

.form-input label {
    font-size: .9rem;
}

select.placeholder option:first-child {
    color: grey;
}

select.placeholder option {
    color: black;
}

/* Style for disabled inputs */
input:disabled, select:disabled {
    opacity: .8;
    cursor: not-allowed; /* Optional: Show a not-allowed cursor */
}

/* Style for disabled selects (if needed to override default) */
select:disabled {
    appearance: none; /* Remove native dropdown styling (optional) */
}


.checkbox-left {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    accent-color: #9bcc78;
    gap: 0px 6px;
    max-height: 20px;
}

.check-sm {
    height: 16px;
    width: 16px;
}

.form-response {
    display: grid;
    position: absolute;
    justify-content: center;
    padding: 0rem 1rem;
}

.form-response p {
    font-size: .9rem;
    font-weight: 550;
}

.form-error {
    background: #cc7867;
    color: black;
}

.form-success {
    background: #9bcc78;
    color: black;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
}

.spinner {
    border: 8px solid #9bcc78; /* Light grey */
    border-top: 8px solid #333333; /* Dark grey (spinner color) */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    display: inline-block;
    position: absolute;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  